.Rproj.user
.Rhistory
.RData
.Rproj.user/
*.Rcheck/
*.o
*.dll
Rplots.pdf
/tmp/
/output/
/..Rcheck/
/copula/out/
/copula/**/out/
/copula/**/logs/
/copula/slides/
/copula/submission/*.zip
.Ruserdata
saemix*.tar.gz
saemix.Rcheck
ecoSimul
git_cmd.txt
documentation/docsaem.log
documentation/docsaem.out
documentation/docsaem.toc
documentation/docsaem.aux

